.row-margin{
    margin-top:1%;

}

.container-custom{
    margin-top: 1%;
    padding: 2%;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
}


.no-gutter > [class*='col-'] {
    padding-right: 0.5%;
    padding-left: 0.5%;
}


.position-title{
    float:left;
    color: #BDBDBD;
    font-size: 1.3rem;
}

.position-close{
    float:right;
    color: #BDBDBD;
    font-size: 1.4rem;
}

.position-close:hover{
    color: #757575;
}

.answer-block{
    padding: 1%;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
}