<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="serction_title_large">
                <h3>
                    Результат збереження
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="container container-custom">
    <div class="row row-margin">
        змінити налаштування ЧОРТ ДУРНИЙ
    </div>
    <div class="row row-margin">
        Оберіть видимість опитування
    </div>
    <div class="row row-margin">
        
        Запросити в опитування : *кнопка додати поле* 
    </div>

</div>