    .custom-radio .custom-control-label::before {
        border-radius: 49%;
        background-color: #F5F5F5;
    }
    
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #F4511E;
        background-color: #F4511E;
    }
    
    .custom-control-label {
        color: #616161 !important;
        cursor: pointer;
        font-size: 1rem !important;
        font-weight: 400;
        padding-left: 1%;
    }
    
    .custom-list-active {
        background: #FAFAFA;
    }