.row-margin {
    margin-top: 1%;
}

.container-custom {
    padding: 5%;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
}

.btn-card {
    background: transparent;
    border: 1px solid #616161;
    border-radius: 5px;
    color: #616161;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    width: 80%;
}

.btn-card:hover {
    border: 1px solid #FF8A65;
    color: #FF8A65;
}

.btn-create {
    background-color: #ff8a65;
    border-color: #ff8a65;
    border-width: 0;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}

.btn-create:hover {
    background-color: #ff7043;
    color: #ffffff;
}

.r-bottom {
    margin-bottom: 2%;
}

.date-setting-title {
    color: #616161;
}

.date-setting-title:hover {
    text-decoration: none;
}

input:read-only {
    background: #FAFAFA;
}

.accordion>.card {
    overflow: visible;
}
