<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="serction_title_large">
                <h3>
                    Додати тестування
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="container container-custom">
    <div class="row row-margin">
        <div class="col-sm-12">
            <label for="basic-url">Назва тестування</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Опис</span>
                </div>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Вид
          </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="category = 'Багаторазове'">Багаторазове</a>
                        <a class="dropdown-item" (click)="category = 'Одноразове'">Одноразове</a>
                        <a class="dropdown-item" (click)="category = 'Навчання'">Навчання</a>
                        <a class="dropdown-item" (click)="category = 'Оцінкове одноразове'">Оцінкове одноразове</a>
                        <a class="dropdown-item" (click)="category = 'Оцінкове багаторазове'">Оцінкове багаторазове</a>
                    </div>
                </div>
                <input type="text" class="form-control" value={{category}} aria-label="Text input with dropdown button" readonly />
            </div>
        </div>
        <div class="col-sm-6">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Зображення</span>
                </div>
                <input type="text" class="form-control" placeholder="Посилання на зображення" aria-label="Username" aria-describedby="basic-addon1" />
            </div>
        </div>
    </div>

    <div class="row row-margin">
        <div class="col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Категорія
          </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="topic = 'Англійська'">Навчання</a>
                        <a class="dropdown-item" (click)="topic = 'Математика'">Математика</a>
                    </div>
                </div>
                <input type="text" class="form-control" value={{topic}} aria-label="Text input with dropdown button"  />
            </div>
        </div>
        <div class="col-xl-4">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input" name="positionCheckBoxInput" />
                    </div>
                    <span class="input-group-text">Задати таймер</span>
                </div>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" min="0"  />
                <div class="input-group-append">
                    <span class="input-group-text">хв</span>
                  </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <input type="text"  class="form-control" value="Випадкові позиції" readonly>
              </div>
        </div>
    </div>

    <div class="row row-margin">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            
        </div>
        <div class="col-xl-2"></div>
    </div>

    <div class="row row-margin">
        <div class="col-sm-6 text-left">
            <button class="btn-card" (click)="addQuestion()">
        Додати запитання
      </button>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn-card" data-toggle="modal" data-target="#profilePageModal">
        Імпорт Даних
      </button>
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-xl-12 text-сenter">
            <button class="btn btn-default btn-create" (click)="createQuiz()">
        Опублікувати
      </button>
        </div>
    </div>
</div>

<div *ngFor="let q of question">
    <app-quiz-question (deleteId)="removeQuestion($event)" [questionId]="q"></app-quiz-question>
</div>

<app-profile-page></app-profile-page>