<div class="container">
  <div class="row row-margin">
    <div class="col-sm-4">
      <img src="../../../../assets/img/noImageTesting.png" width="286" height="197"   class="img-fluid" alt="title">
      
    </div>
    <div class="col-sm-8">
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, dignissimos?</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dicta error facilis commodi voluptates inventore, tempore laborum veniam ipsam dolorem itaque laudantium facere fugit voluptate possimus, nobis rem eos molestiae.</p>
      </div>
  </div>
  <div class="row row-margin">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <button class="btn-start" routerLink="/quiz/1">Почати тестування</button>
    </div>
    
  </div>
</div>

