<div class="container">
    <div class="row row-margin">
        <div class="col-sm-4">
            <img src={{imagePath}} width="286" height="197" class="img-fluid" alt="Фото опитування" />
        </div>
        <div class="col-sm-8">
            <h3>{{quiz?.name}}</h3>
            <p><b>Тип опитування:</b> {{quizType}}</p>
            <p><b>Часовий ліміт:</b> 1 хв</p>
            <p><b>Кількість питань:</b> 6</p>
            <p><b>Категорія:</b> {{quiz?.topic}}</p>
            <p><b>Опис:</b> {{quiz?.description}}</p>
            
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <button class="btn-start" routerLink={{link}}>
        Почати тестування
      </button>
        </div>
    </div>
</div>