<!-- footer_start -->
<footer class="footer footer_bg_1" style="margin-top:16%;">
    <div class="circle_ball d-none d-lg-block">
        <img src="/assets/img/banner/footer_ball.png" alt="">
    </div>
    <div class="footer_top">

        <div class="container">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> Всі права захищені | by
                        <a href="mailto: ostriadvertising@gmail.com" target="_blank">Andrii Voisovych</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer_end -->