<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="serction_title_large">
                <h3>
                    Тестування
                </h3>
            </div>


        </div>
    </div>
    <div class="row row-margin">
        <!-- search box start-->
        <app-search-box class="search-box" (search)="search($event)"></app-search-box>
        <!-- search box end-->
    </div>
    <div class="row row-margin no-gutter" *ngIf="loading; else loadingTemplate">
        <div *ngFor="let quiz of quizesFilter" class="col-sm-3">
            <app-quiz-cards [quiz]="quiz"></app-quiz-cards>
        </div>
    </div>
</div>
<ng-template #loadingTemplate>
    <app-spinner></app-spinner>
</ng-template>
